
#layout-responsive {
    display: grid;
    grid-template-areas:
      "presentation presentation presentation presentation" 
      "presentation presentation presentation presentation" 
      "products products products products"
      "products products products products"
      "events table table announcements"
      "users statistics site-info site-info";
    gap: 20px;
  }
  
  @media screen and (max-width: 992px) {
    #layout-responsive {
      grid-template-areas:
        "presentation"
        "table"
        "calendar"
        "announcements"
        "users"
        "user-info"
        "site-info"
        "other-content";
    }
  }
  
  @media screen and (max-width: 768px) {
    #layout-responsive {
      grid-template-areas:
        "presentation"
        "table"
        "calendar"
        "announcements"
        "users"
        "user-info"
        "site-info"
        "other-content";
      grid-template-columns: 1fr;
    }
  }

#presentation { grid-area: presentation; }
#table { grid-area: table; }
#calendar { grid-area: calendar; }
#announcements { grid-area: announcements; }
#users { grid-area: users; }
#user-info { grid-area: user-info; }
#site-info { grid-area: site-info; }
#other-content { grid-area: other-content; }
