<header>
    <h1>Magazin Casti Moto</h1><hr>
    <nav>
      <ul class="meniu"> 
          <li><div id="acasa">Acasa</div><div id="acasa-mediu"></div>
               <ul>
                 <li><a href="#retete">Retete</a></li>
                 <li><a href="#anunturi">Anunturi</a></li>
                 <li><a href="#orar">Orar</a></li>
                 <li><a href="#produse">Produse</a></li>
               </ul>
          </li>
          <li><a href="#promotii">Promotii</a></li>
          <li><a href="#anunturi">Anunturi</a></li>
          <li><a href="#orar">Orar</a></li>
          <li><a href="#site-info">Site Info</a></li>
          <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
 